.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#pyc files
core/__init__.pyc
core/settings/__init__.pyc
core/settings/base.pyc
core/settings/loc.pyc
core/urls.pyc
db
pages/__init__.pyc
pages/grab_current.pyc
pages/grab_top25.pyc
pages/models.pyc
pages/risingdaily.pyc
pages/risingweekly.pyc
pages/views.pyc
