Django==1.5
Fabric==1.7.0
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.21
PyYAML==3.11
Werkzeug==0.9.4
beautifulsoup4==4.3.2
boto==2.12.0
django-debug-toolbar==1.1
gunicorn==18.0
itsdangerous==0.24
nltk==2.0.4
paramiko==1.11.0
pycrypto==2.6
requests==1.2.3
sqlparse==0.1.11
wikipedia==1.1
wsgiref==0.1.2
