{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}WikiNow{% endblock %}</title>
  <!-- IE -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="http://blueline.knightlab.com/assets/logos/favicon.ico" /> -->
  <!-- other browsers -->
  <!-- <link rel="icon" type="image/x-icon" href="http://blueline.knightlab.com/assets/logos/favicon.ico" /> -->
  <!-- Optional: Knight Lab webfonts -->
  <link href="//cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css" rel="stylesheet" type="text/css">
  <!-- Note: You must include the Blueline CDN stylesheet -->
  <link rel="stylesheet" href="//cdn.knightlab.com/libs/blueline/latest/css/blueline.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  {# Google Analytics: don't mess with this stuff #}
  {# named tracker notes from https://developers.google.com/analytics/devguides/collection/gajs/ #}
  {# multi-domain tracking notes from https://developers.google.com/analytics/devguides/collection/gajs/gaTrackingSite #}
  <script>
  var _gaq = _gaq || [];
  _gaq.push(
            function() {
                var pageTracker = _gat._createTracker('UA-27829802-1', 'knightlabTracker');
             },
            ['knightlabTracker._setDomainName', 'knightlab.com'] // DON'T CHANGE THIS FOR SUBDOMAINS
            ['knightlabTracker._setAllowLinker', true],
            ['knightlabTracker._trackPageview']
  );
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  {# End Google Analytics #}
  {% block extrahead %}{% endblock %}
</head>
<body>

  <!-- BEGIN HEADER -->

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <a href="#" class="brand">WikiNow</a>
        <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
          <ul class="nav">
            <!-- <li><a href="#">Link</a></li> 
            <li><a href="#">Link</a></li> 
            <li><a href="#">Link</a></li> 
            <li><a href="#">Link</a></li>  -->
          </ul>
          <ul class="nav pull-right">
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
  <!-- END HEADER -->

  <!-- BEGIN CONTENT -->
  <div id="content" class="container">
  {% block content %}
  <div class="row-fluid">
    <div class="span12">
      <h1 class = "text-center">Most Revisions</h1>
      <p class = "text-center" id = "time_stamp"></p>
      <div id="content" class="container" style="display: none;">
        <li><a href="" id = "1" target = "_blank"></a>  <small id ="21"></small></li>
        <p class="text-muted" id = "11"></p>
        <br>
        <li><a href="" id = "2" target = "_blank"></a>  <small id ="22"></small></li>
        <p class="text-muted" id = "12"></p>
        <br>
        <li><a href="" id = "3" target = "_blank"></a>  <small id ="23"></small></li>
        <p class="text-muted" id = "13"></p>
        <br>
        <li><a href="" id = "4" target = "_blank"></a>  <small id ="24"></small></li>
        <p class="text-muted" id = "14"></p>
        <br>
        <li><a href="" id = "5" target = "_blank"></a>  <small id ="25"></small></li>
        <p class="text-muted" id = "15"></p>
        <br>
        <li><a href="" id = "6" target = "_blank"></a>  <small id ="26"></small></li>
        <p class="text-muted" id = "16"></p>
        <br>
        <li><a href="" id = "7" target = "_blank"></a>  <small id ="27"></small></li>
        <p class="text-muted" id = "17"></p>
        <br>
        <li><a href="" id = "8" target = "_blank"></a>  <small id ="28"></small></li>
        <p class="text-muted" id = "18"></p>
        <br>
        <li><a href="" id = "9" target = "_blank"></a>  <small id ="29"></small></li>
        <p class="text-muted" id = "19"></p>
        <br>
        <li><a href="" id = "10" target = "_blank"></a>  <small id ="30"></small></li>
        <p class="text-muted" id = "20"></p>
        <br>
      </div>

      <button type="button" class="btn btn-warning" onclick=previousPage() style="color:#333; background-color:#fff; border-color:#ccc; margin-left:45%">Prev</button>
      <button type="button" class="btn btn-default" onclick=nextPage()>Next</button>
  </div>
  {% endblock %}
  </div>
  <!-- END CONTENT-->

  <!-- BEGIN FOOTER -->
  <!-- END FOOTER -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdn.knightlab.com/libs/blueline/latest/js/blueline.min.js"></script>
  <script src="{{ STATIC_URL }}js/getJsonp.js"></script>
  <script type="text/javascript">
      var JSONP=document.createElement("script");  
      JSONP.type="text/javascript";  
      JSONP.src="http://en.wikipedia.org/w/api.php?format=json&action=query&list=querypage&qppage=Mostrevisions&qplimit=20&callback=getTitle";  
    document.getElementsByTagName("head")[0].appendChild(JSONP);  
    
  </script>
  {% block extrascripts %}{% endblock %}
</body>
</html>
