{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
	<div class="ranking span4">
		<div class="rank active">
			<div class="rank-title">
				<span class="num">1</span><h3>Snoop Dogg</h3>
			</div>
			<p class="rank-info">100000 views&nbsp;&nbsp;&nbsp;Snoop Dogg smokes weed...</p>
		</div>
		<div class="rank">
			<div class="rank-title">
				<span class="num">1</span><h3>Snoop Dogg</h3>
			</div>
			<p class="rank-info">100000 views&nbsp;&nbsp;&nbsp;Snoop Dogg smokes weed...</p>
		</div>
		<div class="rank">
			<div class="rank-title">
				<span class="num">1</span><h3>Snoop Dogg</h3>
			</div>
			<p class="rank-info">100000 views&nbsp;&nbsp;&nbsp;Snoop Dogg smokes weed...</p>
		</div>
		<div class="rank">
			<div class="rank-title">
				<span class="num">1</span><h3>Snoop Dogg</h3>
			</div>
			<p class="rank-info">100000 views&nbsp;&nbsp;&nbsp;Snoop Dogg smokes weed...</p>
		</div>
	</div>

	<div class="main span7">
		<div class="box">
			<div class="main-img"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Snoop_Dogg_2012.jpg/486px-Snoop_Dogg_2012.jpg" width="100%"></div>
			<div class="main-title">
				<span class="num">1</span><h3>Snoop Dogg</h3>
			</div>

				<div class="article">
					<div class="article-img span1"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Snoop_Dogg_2012.jpg/486px-Snoop_Dogg_2012.jpg" width="100%"></div>
					<div class="article-details span11">
						<p class="pub">Today.com</p>
						<p class="article-title">Larry King: "I spent a half hour with Snoop Dogg and went home stoned"</p>
						<p class="article-date">Tue, 06 May 2014</p>
					</div>
				</div>

				<div class="article">
					<div class="article-img span1"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Snoop_Dogg_2012.jpg/486px-Snoop_Dogg_2012.jpg" width="100%"></div>
					<div class="article-details span11">
						<p class="pub">Today.com</p>
						<p class="article-title">Larry King: "I spent a half hour with Snoop Dogg and went home stoned"</p>
						<p class="article-date">Tue, 06 May 2014</p>
					</div>
				</div>

				<div class="article">
					<div class="article-img span1"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Snoop_Dogg_2012.jpg/486px-Snoop_Dogg_2012.jpg" width="100%"></div>
					<div class="article-details span11">
						<p class="pub">Today.com</p>
						<p class="article-title">Larry King: "I spent a half hour with Snoop Dogg and went home stoned"</p>
						<p class="article-date">Tue, 06 May 2014</p>
					</div>
				</div>
			<hr>
		</div>
	</div>
</div>
{% endblock %}