{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
	{% for i in result %}
		{% if forloop.counter == 1 %}
			<div class="main span7 offset1">
				<div class="big-box">
					<div class="main-img"><img src="{{ i.img}}" width="100%"></div>
					<div class="main-title">
						<a href={{ i.urls }}><h3>{{ i.titles }}</h3></a>
<!-- 						<p class="views">{{ i.views }}</p> -->
					</div>

					{% for y in i.external %}
						<div class="article">
							<div class="article-img span1"><img src="{{ y.external_img }}"></div>
							<div class="article-details span11">
								<p class="pub">{{ y.external_only_publisher }}</p>
								<a href="{{ y.external_link }}" target=_blank class="external"><p class="article-title">{{ y.external_only_title }}</p></a>
								<p class="article-date">{{ y.external_date }}</p>
							</div>
						</div>
					{% endfor %}
						</div>
				</div>
		{% endif %}

		
		{% if forloop.counter == 2 %}
		<div class="span3">
			<div class="main-side">
				<div class="main-side-img"><img src="{{ i.img }}" width="100%"></div>
				<div class="main-side-title">
					<a href={{ i.urls }}><h3>{{ i.titles }}</h3></a>
				</div>

				{% for y in i.external|slice:":1" %}
					<div class="article">
						<div class="article-details span11">
							<p class="pub">{{ y.external_only_publisher }}</p>
							<a href="{{ y.external_link }}" target=_blank class="external"><p class="article-title">{{ y.external_only_title }}</p></a>
							<p class="article-date">{{ y.external_date }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			</div>
			{% endif %}

			{% if forloop.counter == 3 %}
				<div class="span3">
					<div class="main-side">
						<div class="main-side-img"><img src="{{ i.img }}" width="100%"></div>
						<div class="main-side-title">
							<a href={{ i.urls }}><h3>{{ i.titles }}</h3></a>
						</div>

						{% for y in i.external|slice:":1" %}
							<div class="article">
								<div class="article-details span11">
									<p class="pub">{{ y.external_only_publisher }}</p>
								<a href="{{ y.external_link }}" target=_blank class="external"><p class="article-title">{{ y.external_only_title }}</p></a>
								<p class="article-date">{{ y.external_date }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					</div>
				{% endif %}
	{% endfor %}
	</div>

<div class="divider"></div>
<div class="row-fluid">
	<div class="span7 offset1">
		{% for i in result|slice:"4:" %}
			<div class="box">
			<div class="md-img span5">
				<img src="{{ i.img }}" />
			</div>
			<div class="md-article span7">
			<div class="md-title">
				<a href={{ i.urls }}><h3>{{ i.titles }}</h3></a>
			</div>
			{% for y in i.external|slice:":2" %}
				<div class="article">
					<div class="article-img span1"><img src="{{ y.external_img }}" width="100%"></div>
					<div class="article-details span11">
						<p class="pub">{{ y.external_only_publisher }}</p>
								<a href="{{ y.external_link }}" target=_blank class="external"><p class="article-title">{{ y.external_only_title }}</p></a>
								<p class="article-date">{{ y.external_date }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<hr>
		{% endfor %}
	</div>

	<div class="span3">
		<div class="sidebar">
			<h4>Most Visited</h4>
			<div class="ranking">
				<div class="rank">
					<h6 class="rank-title">Snoop Dogg</h6>
					<p class="rank-info">100000 views</p>
				</div>
				<div class="rank">
					<h6 class="rank-title">Snoop Dogg</h6>
					<p class="rank-info">100000 views</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="span3">
		<div class="sidebar">
			<h4>Downtrends</h4>
			<div class="ranking">
				<div class="rank">
					<h6 class="rank-title">Snoop Dogg</h6>
					<p class="rank-info">100000 views</p>
				</div>
				<div class="rank">
					<h6 class="rank-title">Snoop Dogg</h6>
					<p class="rank-info">100000 views</p>
				</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}